html {
  height: 100%;
  font-size: 100%;
  background: url(../assets/images/IMG_6315.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

body {
  font-family: sans-serif;
  color: white;
  min-height: 100%;
}

.navbar {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none; 
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  padding: 20px 13px;
  text-decoration: underline;
  color: white;
  font-size: 1.3em;
  font-family: sans-serif;
}

.hero-content {
  position: relative;
  min-height: 600px;
}

.hero-content .hero-title {
  position: absolute;
  top: 47%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size: 8em;
  font-weight: 300;
  letter-spacing: 2.5rem;
}

.hero-content .hero-tagline {
  position: absolute;
  top: 75%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center; 
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 0.2em;
}

.content {
  position: relative;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.intro {
  display: table;
  position: relative;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 100px 0px 45px 10px;
}
