html {
  height: 100%;
  font-size: 75%;
  font-family: sans-serif;
  background: url(../assets/images/IMG_6315.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

body {
  font-family: sans-serif;
  color: white;
  min-height: 100%;
}

.navbar {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none; 
}

.navbar li {
  float: left;
}

.navbar li a {
  display: inline-block;
  text-align: center;
  padding: 20px 13px;
  color: white;
  font-size: 15px;
}


/*@media (min-width: 640px) {
  html { font-size: 100%; }
}

@media (min-width: 1024px) {
  html { font-size: 100%; }
}*/